<br><br>
<div class='col-md-4 border' >  
        <h1>New Post</h1>
        <form {{action 'save' title body on='submit'}}>
        <dl>
			<dt>Title:<br> <textarea cols=40 rows='1' placeholder='Title' value= {{title}} oninput={{action (mut title) value='target.value'}} /></dt>
			<dt>Body:<br> <textarea cols=40 rows='6' placeholder='Body'  value= {{body}} oninput={{action (mut body) value='target.value' }} /></dt>
        </dl>
        <button type='submit' class='btn btn-primary'>Add</button>
        </form>
</div>
<div id='preview' class='col-md-4 border'  >  
    <h1>Preview</h1>
	<h3>{{title}}</h3>
	<h4>{{markdown-to-html markdown=body}}</h4>
</div>
