{{#each model as |model|}}
<div class='row'>
	{{#if isEditing}}
		<div class='col-md-4 border'>
			<form {{action 'save' on='submit'}}>
				<dl>
					<dt>Title:<br> {{textarea value=model.title cols='40' rows='1'}}</dt>
					<dt>Body:<br> {{textarea value=model.body cols='40' rows='6'}}</dt>
				</dl>
				<div class = 'row'>
					<button type='submit' class = 'btn btn-primary'>Done</button>
				</div>
			</form>	
		</div>
	{{/if}}
	<div class='col-md-4 border'>
				<h1>{{model.title}}</h1>
				<h3>{{markdown-to-html markdown=model.body}}</h3>
				<h4>-{{model.author}}</h4>
			{{#if session.isAuthenticated}}
				<form {{action 'edit' }}>
				<button type='submit' class='btn btn-primary'>Edit</button>
				<button type='delete' class= 'btn btn-primary' {{action 'delete'}}>Delete</button>
				</form>
			{{/if}}
	</div>
</div>
{{/each}}
